<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxl.cloud.miniecommerce.system.mapper.FeedbackMapper">

    <resultMap type="com.wxl.cloud.miniecommerce.model.entity.system.Feedback" id="FeedbackMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="subject" column="subject" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectPageByFilter" resultMap="FeedbackMap">
        select id, email, subject, content, update_time, create_time from tb_feedback
    </select>
</mapper>

