<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxl.cloud.miniecommerce.system.mapper.OperationMapper">

    <resultMap type="com.wxl.cloud.miniecommerce.model.entity.system.Operation" id="OperationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="titleColor" column="title_color" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="descriptionColor" column="description_color" jdbcType="VARCHAR"/>
        <result property="ideaImg" column="idea_img" jdbcType="VARCHAR"/>
        <result property="operationType" column="operation_type" jdbcType="INTEGER"/>
        <result property="param" column="param" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectPageByFilter" resultMap="OperationMap">
        select id, title, title_color, description, description_color, idea_img, operation_type, param, start_time, end_time, status, update_time, create_time from tb_operation
    </select>


</mapper>

