<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxl.cloud.miniecommerce.order.mapper.ReplaceGoodsBillMapper">

    <resultMap type="com.wxl.cloud.miniecommerce.model.entity.order.ReplaceGoodsBill" id="ReplaceGoodsBillMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="postSaleBillId" column="post_sale_bill_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>

