<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxl.cloud.miniecommerce.order.mapper.ReplaceGoodsMapper">

    <resultMap type="com.wxl.cloud.miniecommerce.model.entity.order.ReplaceGoods" id="ReplaceGoodsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="replaceGoodsBillId" column="replace_goods_bill_id" jdbcType="INTEGER"/>
        <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="oldSpecGroupId" column="old_spec_group_id" jdbcType="INTEGER"/>
        <result property="newSpecGroupId" column="new_spec_group_id" jdbcType="INTEGER"/>
        <result property="amount" column="amount" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>

