<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxl.cloud.miniecommerce.goods.mapper.SpecMapper">

    <resultMap type="com.wxl.cloud.miniecommerce.model.entity.goods.Spec" id="SpecMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="cnName" column="cn_name" jdbcType="VARCHAR"/>
        <result property="enName" column="en_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>

